/* This is my first proper css file */

body{
    background-color: rgb(19, 40, 71);
    max-width: 450px;
    margin: auto;
}

h1{
    color:rgb(247, 243, 243);
    text-shadow: 2px 2px 5px pink;
    font-family: 'Times New Roman';
}

p1{
    color: aqua;
    font-family: 'Times New Roman';
    font-weight: bold;
    border-style: dashed;
    border-color: white;
}

p2, p3, p4, p5, p6, p7, p8, p9, p10, p11, p12{
    color:rgb(247, 243, 243);
    font-family: 'Times New Roman';
}
.chart{
    background-color: white;
    width:350px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

a:link {
    color: rgb(235, 64, 52);
}
a:visited {
    color: rgb(61, 252, 23);
}
a:hover {
    color: hotpink;
}
a:active{
    color: rgb(15, 245, 252)
}


